
body {
    display: block;
    max-width:100%;
    height:auto;
    margin: 0px;
padding: 0px;}
ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}
ul li{
    display: inline-flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
a {
    text-decoration: none; /* убирает ебаное подчеркивание */
    color: black;
   }
header{
    background-color:  rgb(236, 187, 226);
   height: 65px;
}
ul li {

   

    transition: 1s linear; /* Время изменения */
}
ul li:hover {
    color: #fff; /* Цвет текста */
    background: #f66d52; /* Цвет фона */
}
@media only screen and (max-width: 1000px) {
        .menu-btn {
            width: 30px;
            height: 30px;
            position: relative;
            margin-left: 15px;
            padding-top: 20px;
            z-index:2;
            overflow: hidden;
        }
        
        .menu-btn span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222222;
            transition: all 0.5s;
        }
        
        .menu-btn span:nth-of-type(2) {
            top: calc(50% - 5px);
        }
        .menu-btn span:nth-of-type(3) {
            top: calc(50% + 5px);
        }
        
        /* Меняем гамбургер иконку, когда меню открыто */
        .menu-btn.active span:nth-of-type(1) {
          display: none;
        }
        .menu-btn.active span:nth-of-type(2) {
          top: 50%;
          transform: translate(-50%, 0%) rotate(45deg);  
        }
        .menu-btn.active span:nth-of-type(3) {
          top: 50%;
          transform: translate(-50%, 0%) rotate(-45deg); 
        
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}


  }
main {
   
    display: flex;
    padding-left: 110px;
    padding-top: 30px;
    padding-right: 110px;
    padding-bottom: 50px;
    align-items: flex-start;
    flex-wrap: wrap;}
   
   .photo{
    max-width: 100%;
    height: auto;
    width: 400px;
 
  border-radius: 200px;
 
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;   
    color: rgb(253, 176, 108);
    font-weight: 300; 
}
h2{
    font-family: 'Roboto', sans-serif ;
    font-size: 35px;   
    color: rgb(146, 129, 120); 
    font-weight: 200;  
}
h2{
   display: flex;
   justify-content: center;
}

.yn{
    margin-left: 150px;
}
.hr-line {
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}
.about{    display: flex;
    padding-left: 110px;
    padding-top: 30px;
    padding-right: 110px;
  
}
ul {
    display:flex;
    flex-wrap: wrap;
  }
.menu1{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 400px;
    height: 400px;
    padding: ;
}
h3{
    font-family: 'Roboto', sans-serif ;
    font-size: 35px;   
    color: rgb(67, 61, 58); 
    font-weight: 300;  
    margin-block-start: 0em;
    margin-block-end: 0em;
}    
.item{
    font-family: 'Roboto', sans-serif ;
    font-size: 23px;   
    color: rgb(67, 61, 58); 
    font-weight: 300; 
}
.abtme{ 
    display: flex;
    flex-direction: column;
   
    width: 700px;
    height: 700px;
    margin-left: 150px;
}
h4{
    padding-top: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 25px;   
    color: rgb(67, 61, 58); 
    font-weight: 300;  
}
@media only screen and (max-width: 1350px) {
    .photo{
    height: auto;
    width: 300px;
 
  border-radius: 200px;  
}
.menu1 {
    width: 300px;
    height: 300px;}
.yn{
    height: auto;
    width: 300px;  
}
.abtme {
    width: 300px;
    height: 300px;
    margin-left: 150px;}}
@media only screen and (max-width: 985px) {
    .photo{
    height: auto;
    width: 240px;
 
  border-radius: 200px;  
}
.yn{
    height: 350px;
    width: 150px;  
    margin-right: 110px;
}
.h1{
    font-size: 55px; }
    .menu1 {
        width: 240px;
        height: auto; 
    }
.abtme {
        width: 150px;
        height: 350px;
        margin-left: 150px;}}
       
 @media only screen and (max-width: 870px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: rgb(253, 176, 108);
        font-weight: 300;
    }
    .photo {
        height: auto;
        width: 200px;
        border-radius: 200px;
    }
    main {
        padding-left: 80px;}
        header{
            background-color:  rgb(236, 187, 226);
           height: 50px;
        }}
        @media only screen and (max-width: 725px) {
            h1 {
                font-family: 'Roboto', sans-serif;
                font-size: 25px;
                color: rgb(253, 176, 108);
                font-weight: 300;
            }
            .photo {
                height: auto;
                width: 140px;
                border-radius: 200px;
            }
            main {
                padding-left: 80px;
                padding-right: 0px;
            }
                header{
                    background-color:  rgb(236, 187, 226);
                   height: 50px;
                }
                .about {
                    display: flex;
                    padding-left: 80px;}
                    .menu1 {
                        width: 140px;}}